
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

:root{
    --background-color: #e2e8f0;
    --accent-color: #1992d4;
    --secondary-color: #ffffff;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 12rem 1fr;
    grid-template-areas:
        "sidebar head "
        "sidebar main-section"
}


.sidebar{
    background-color: var(--accent-color);
    grid-area: sidebar;
    padding: 10px;
}
.menu{
    display: grid;
    height: 100vh;
    gap:20px;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-columns: repeat(1fr, 500px);
}

.menu > a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
}
.menu > a:first-child{
    font-size: 2rem;
}
.icon {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(101%);
}
.large{
    height: 40px;
    justify-self: center;
}
.small{
    height: 30px;
    justify-self: center;
}

.head{
    grid-area: head;
}


.main-section{
    grid-area: main-section;
}
.searchbar{
    align-items: center;
}